/node_modules
/public/*
/public/hot
/public/storage
/public/images
public/css/app.css
public/js/app.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
.idea/medical_v2.iml
.idea/php.xml
.idea/modules.xml
mix-manifest.json